*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.chat{
border-bottom: 1px solid white;
min-width: 100dvw;
min-height: 90dvh;
background-color: #171717;
color: white;
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
text-align: justify;
}

#text{
margin-left: 10%;
margin-right: 10%;
}

.chat-in{
min-width: 100dvw;
min-height: 10dvh;
background-color: #171717;
display: flex;
justify-content: center;
align-items: center;
}
input[type='text']{
padding: 8px;
margin: 2px;
min-width: 30%;
background-color: transparent;
color: white;
border: 1px solid white;
border-radius: 10px;
}
input[type='submit']{
padding: 8px;
margin: 2px;
border: 1px solid white;
border-radius: 10px;
cursor: pointer;
}
input[type='submit']:active{
background-color: #ffffff8d;
}

#text{
display: flex;
text-align: justify;
}